body {
	background-image:url('background.jpg');
	background-repeat:no-repeat;
	background-attachment:fixed;
}

.pagination {
	display: none;
}

#container {
	width:900px;
	padding:10px;
	margin:auto;
	position:absolute;
}

#slides {
	position:absolute;
	top:15px;
	left:4px;
}

.slides_container {
	width:900px;
	overflow:hidden;
	position:relative;
}

.slides_container div.slide {
	width:900px;
	height:500px;
	display:block;
	margin:auto;
}

.caption {
	position:absolute;
	bottom:-35px;
	left:0;
	height:50px;
	padding:5px 20px 0 20px;
	background:#000;
	background:rgba(0, 0, 0, 0.5);
	width:900px;
	font-size:1.2em;
	color:#fff;
	border-top:1px solid #000;
	text-shadow:none;
}

