<!doctype html>
<html lang="en">
	<head>
		<title>Map Slideshow</title>
		<meta charset="utf-8" />
		<link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet" type="text/css" />
	</head>
	<body>
		<div id="slides">
			<div class="slides_container">
				{% for link in links %}
					<div>
						<a href="{{ link.href }}" title="{{ link.title }}">
							<img src="static/images/{{ link.filename }}" alt="Map image" />
						</a>
					</div>
				{% endfor %}
			</div>
		</div>
	<script src="{{ url_for('static', filename='js/jquery.js') }}"></script>
	<script src="{{ url_for('static', filename='js/slides.js') }}"></script>
	<script src="{{ url_for('static', filename='js/slideshow.js') }}"></script>
	</body>
</html>
